
.rpg-building1:before { content: '\e800'; } /* '' */
.rpg-building2:before { content: '\e801'; } /* '' */
.rpg-building3:before { content: '\e802'; } /* '' */
.rpg-building4:before { content: '\e803'; } /* '' */
.rpg-building5:before { content: '\e804'; } /* '' */
.rpg-building6:before { content: '\e805'; } /* '' */
.rpg-building7:before { content: '\e806'; } /* '' */
.rpg-building8:before { content: '\e807'; } /* '' */
.rpg-building9:before { content: '\e808'; } /* '' */
.rpg-building10:before { content: '\e809'; } /* '' */
.rpg-building11:before { content: '\e80a'; } /* '' */
.rpg-building12:before { content: '\e80b'; } /* '' */
.rpg-charf1:before { content: '\e80c'; } /* '' */
.rpg-charf2:before { content: '\e80d'; } /* '' */
.rpg-charf3:before { content: '\e80e'; } /* '' */
.rpg-charf4:before { content: '\e80f'; } /* '' */
.rpg-charf5:before { content: '\e810'; } /* '' */
.rpg-charf6:before { content: '\e811'; } /* '' */
.rpg-charf7:before { content: '\e812'; } /* '' */
.rpg-charf8:before { content: '\e813'; } /* '' */
.rpg-charf9:before { content: '\e814'; } /* '' */
.rpg-charf10:before { content: '\e815'; } /* '' */
.rpg-charf11:before { content: '\e816'; } /* '' */
.rpg-charf12:before { content: '\e817'; } /* '' */
.rpg-charf13:before { content: '\e818'; } /* '' */
.rpg-charm1:before { content: '\e819'; } /* '' */
.rpg-charm2:before { content: '\e81a'; } /* '' */
.rpg-charm3:before { content: '\e81b'; } /* '' */
.rpg-charm4:before { content: '\e81c'; } /* '' */
.rpg-charm5:before { content: '\e81d'; } /* '' */
.rpg-charm6:before { content: '\e81e'; } /* '' */
.rpg-charm7:before { content: '\e81f'; } /* '' */
.rpg-charm8:before { content: '\e820'; } /* '' */
.rpg-charm9:before { content: '\e821'; } /* '' */
.rpg-charm10:before { content: '\e822'; } /* '' */
.rpg-charm11:before { content: '\e823'; } /* '' */
.rpg-charm12:before { content: '\e824'; } /* '' */
.rpg-charm13:before { content: '\e825'; } /* '' */
.rpg-charo1:before { content: '\e826'; } /* '' */
.rpg-charo2:before { content: '\e827'; } /* '' */
.rpg-charo3:before { content: '\e828'; } /* '' */
.rpg-charo4:before { content: '\e829'; } /* '' */
.rpg-charo5:before { content: '\e82a'; } /* '' */
.rpg-charo6:before { content: '\e82b'; } /* '' */
.rpg-charo7:before { content: '\e82c'; } /* '' */
.rpg-creature1:before { content: '\e82d'; } /* '' */
.rpg-creature2:before { content: '\e82e'; } /* '' */
.rpg-creature3:before { content: '\e82f'; } /* '' */
.rpg-creature4:before { content: '\e830'; } /* '' */
.rpg-creature5:before { content: '\e831'; } /* '' */
.rpg-creature6:before { content: '\e832'; } /* '' */
.rpg-creature7:before { content: '\e833'; } /* '' */
.rpg-creature8:before { content: '\e834'; } /* '' */
.rpg-exploration1:before { content: '\e835'; } /* '' */
.rpg-exploration2:before { content: '\e836'; } /* '' */
.rpg-exploration3:before { content: '\e837'; } /* '' */
.rpg-exploration4:before { content: '\e838'; } /* '' */
.rpg-exploration5:before { content: '\e839'; } /* '' */
.rpg-exploration6:before { content: '\e83a'; } /* '' */
.rpg-exploration7:before { content: '\e83b'; } /* '' */
.rpg-exploration8:before { content: '\e83c'; } /* '' */
.rpg-exploration9:before { content: '\e83d'; } /* '' */
.rpg-exploration10:before { content: '\e83e'; } /* '' */
.rpg-exploration11:before { content: '\e83f'; } /* '' */
.rpg-exploration12:before { content: '\e840'; } /* '' */
.rpg-exploration13:before { content: '\e841'; } /* '' */
.rpg-exploration14:before { content: '\e842'; } /* '' */
.rpg-exploration15:before { content: '\e843'; } /* '' */
.rpg-exploration16:before { content: '\e844'; } /* '' */
.rpg-exploration17:before { content: '\e845'; } /* '' */
.rpg-exploration18:before { content: '\e846'; } /* '' */
.rpg-exploration19:before { content: '\e847'; } /* '' */
.rpg-exploration20:before { content: '\e848'; } /* '' */
.rpg-exploration21:before { content: '\e849'; } /* '' */
.rpg-fauna1:before { content: '\e84a'; } /* '' */
.rpg-fauna2:before { content: '\e84b'; } /* '' */
.rpg-fauna3:before { content: '\e84c'; } /* '' */
.rpg-fauna5:before { content: '\e84d'; } /* '' */
.rpg-fauna6:before { content: '\e84e'; } /* '' */
.rpg-fauna7:before { content: '\e84f'; } /* '' */
.rpg-fauna8:before { content: '\e850'; } /* '' */
.rpg-fauna9:before { content: '\e851'; } /* '' */
.rpg-fauna10:before { content: '\e852'; } /* '' */
.rpg-fauna11:before { content: '\e853'; } /* '' */
.rpg-fauna12:before { content: '\e854'; } /* '' */
.rpg-fauna13:before { content: '\e855'; } /* '' */
.rpg-food1:before { content: '\e856'; } /* '' */
.rpg-food2:before { content: '\e857'; } /* '' */
.rpg-food3:before { content: '\e858'; } /* '' */
.rpg-food4:before { content: '\e859'; } /* '' */
.rpg-food5:before { content: '\e85a'; } /* '' */
.rpg-food6:before { content: '\e85b'; } /* '' */
.rpg-food7:before { content: '\e85c'; } /* '' */
.rpg-food8:before { content: '\e85d'; } /* '' */
.rpg-food9:before { content: '\e85e'; } /* '' */
.rpg-food10:before { content: '\e85f'; } /* '' */
.rpg-food11:before { content: '\e860'; } /* '' */
.rpg-food12:before { content: '\e861'; } /* '' */
.rpg-food13:before { content: '\e862'; } /* '' */
.rpg-food14:before { content: '\e863'; } /* '' */
.rpg-food15:before { content: '\e864'; } /* '' */
.rpg-food16:before { content: '\e865'; } /* '' */
.rpg-food17:before { content: '\e866'; } /* '' */
.rpg-food18:before { content: '\e867'; } /* '' */
.rpg-food19:before { content: '\e868'; } /* '' */
.rpg-food20:before { content: '\e869'; } /* '' */
.rpg-food21:before { content: '\e86a'; } /* '' */
.rpg-food22:before { content: '\e86b'; } /* '' */
.rpg-furniture1:before { content: '\e86c'; } /* '' */
.rpg-furniture2:before { content: '\e86d'; } /* '' */
.rpg-furniture3:before { content: '\e86e'; } /* '' */
.rpg-furniture4:before { content: '\e86f'; } /* '' */
.rpg-furniture5:before { content: '\e870'; } /* '' */
.rpg-furniture6:before { content: '\e871'; } /* '' */
.rpg-furniture7:before { content: '\e872'; } /* '' */
.rpg-furniture8:before { content: '\e873'; } /* '' */
.rpg-furniture9:before { content: '\e874'; } /* '' */
.rpg-furniture10:before { content: '\e875'; } /* '' */
.rpg-furniture11:before { content: '\e876'; } /* '' */
.rpg-magic1:before { content: '\e877'; } /* '' */
.rpg-magic2:before { content: '\e878'; } /* '' */
.rpg-magic3:before { content: '\e879'; } /* '' */
.rpg-magic4:before { content: '\e87a'; } /* '' */
.rpg-magic5:before { content: '\e87b'; } /* '' */
.rpg-magic6:before { content: '\e87c'; } /* '' */
.rpg-magic7:before { content: '\e87d'; } /* '' */
.rpg-magic8:before { content: '\e87e'; } /* '' */
.rpg-magic9:before { content: '\e87f'; } /* '' */
.rpg-magic10:before { content: '\e880'; } /* '' */
.rpg-magic11:before { content: '\e881'; } /* '' */
.rpg-magic12:before { content: '\e882'; } /* '' */
.rpg-magic13:before { content: '\e883'; } /* '' */
.rpg-magic14:before { content: '\e884'; } /* '' */
.rpg-magic15:before { content: '\e885'; } /* '' */
.rpg-outfit1:before { content: '\e886'; } /* '' */
.rpg-outfit2:before { content: '\e887'; } /* '' */
.rpg-outfit3:before { content: '\e888'; } /* '' */
.rpg-outfit4:before { content: '\e889'; } /* '' */
.rpg-outfit5:before { content: '\e88a'; } /* '' */
.rpg-outfit6:before { content: '\e88b'; } /* '' */
.rpg-outfit7:before { content: '\e88c'; } /* '' */
.rpg-outfit8:before { content: '\e88d'; } /* '' */
.rpg-outfit9:before { content: '\e88e'; } /* '' */
.rpg-outfit10:before { content: '\e88f'; } /* '' */
.rpg-outfit11:before { content: '\e890'; } /* '' */
.rpg-outfit12:before { content: '\e891'; } /* '' */
.rpg-outfit13:before { content: '\e892'; } /* '' */
.rpg-outfit14:before { content: '\e893'; } /* '' */
.rpg-outfit15:before { content: '\e894'; } /* '' */
.rpg-outfit16:before { content: '\e895'; } /* '' */
.rpg-outfit17:before { content: '\e896'; } /* '' */
.rpg-outfit18:before { content: '\e897'; } /* '' */
.rpg-outfit19:before { content: '\e898'; } /* '' */
.rpg-outfit20:before { content: '\e899'; } /* '' */
.rpg-outfit21:before { content: '\e89a'; } /* '' */
.rpg-outfit22:before { content: '\e89b'; } /* '' */
.rpg-outfit23:before { content: '\e89c'; } /* '' */
.rpg-outfit24:before { content: '\e89d'; } /* '' */
.rpg-outfit25:before { content: '\e89e'; } /* '' */
.rpg-outfit26:before { content: '\e89f'; } /* '' */
.rpg-outfit27:before { content: '\e8a0'; } /* '' */
.rpg-overworld1:before { content: '\e8a1'; } /* '' */
.rpg-overworld2:before { content: '\e8a2'; } /* '' */
.rpg-overworld3:before { content: '\e8a3'; } /* '' */
.rpg-overworld4:before { content: '\e8a4'; } /* '' */
.rpg-overworld5:before { content: '\e8a5'; } /* '' */
.rpg-overworld6:before { content: '\e8a6'; } /* '' */
.rpg-overworld7:before { content: '\e8a7'; } /* '' */
.rpg-overworld8:before { content: '\e8a8'; } /* '' */
.rpg-overworld9:before { content: '\e8a9'; } /* '' */
.rpg-overworld10:before { content: '\e8aa'; } /* '' */
.rpg-overworld11:before { content: '\e8ab'; } /* '' */
.rpg-overworld12:before { content: '\e8ac'; } /* '' */
.rpg-overworld13:before { content: '\e8ad'; } /* '' */
.rpg-symbol1:before { content: '\e8ae'; } /* '' */
.rpg-symbol2:before { content: '\e8af'; } /* '' */
.rpg-symbol3:before { content: '\e8b0'; } /* '' */
.rpg-symbol4:before { content: '\e8b1'; } /* '' */
.rpg-symbol5:before { content: '\e8b2'; } /* '' */
.rpg-symbol6:before { content: '\e8b3'; } /* '' */
.rpg-symbol7:before { content: '\e8b4'; } /* '' */
.rpg-symbol8:before { content: '\e8b5'; } /* '' */
.rpg-symbol9:before { content: '\e8b6'; } /* '' */
.rpg-symbol10:before { content: '\e8b7'; } /* '' */
.rpg-symbol11:before { content: '\e8b8'; } /* '' */
.rpg-symbol12:before { content: '\e8b9'; } /* '' */
.rpg-symbol13:before { content: '\e8ba'; } /* '' */
.rpg-symbol14:before { content: '\e8bb'; } /* '' */
.rpg-symbol15:before { content: '\e8bc'; } /* '' */
.rpg-symbol16:before { content: '\e8bd'; } /* '' */
.rpg-symbol17:before { content: '\e8be'; } /* '' */
.rpg-symbol18:before { content: '\e8bf'; } /* '' */
.rpg-symbol19:before { content: '\e8c0'; } /* '' */
.rpg-symbol20:before { content: '\e8c1'; } /* '' */
.rpg-symbol21:before { content: '\e8c2'; } /* '' */
.rpg-symbol22:before { content: '\e8c3'; } /* '' */
.rpg-symbol23:before { content: '\e8c4'; } /* '' */
.rpg-trap1:before { content: '\e8c5'; } /* '' */
.rpg-trap2:before { content: '\e8c6'; } /* '' */
.rpg-trap3a:before { content: '\e8c7'; } /* '' */
.rpg-trap3b:before { content: '\e8c8'; } /* '' */
.rpg-trap4a:before { content: '\e8c9'; } /* '' */
.rpg-trap4b:before { content: '\e8ca'; } /* '' */
.rpg-trap5:before { content: '\e8cb'; } /* '' */
.rpg-trap6:before { content: '\e8cc'; } /* '' */
.rpg-trap7a:before { content: '\e8cd'; } /* '' */
.rpg-trap7b:before { content: '\e8ce'; } /* '' */
.rpg-trap8a:before { content: '\e8cf'; } /* '' */
.rpg-trap8b:before { content: '\e8d0'; } /* '' */
.rpg-troll1:before { content: '\e8d1'; } /* '' */
.rpg-troll2:before { content: '\e8d2'; } /* '' */
.rpg-troll3:before { content: '\e8d3'; } /* '' */
.rpg-troll4:before { content: '\e8d4'; } /* '' */
.rpg-unliving1:before { content: '\e8d5'; } /* '' */
.rpg-unliving2:before { content: '\e8d6'; } /* '' */
.rpg-unliving3:before { content: '\e8d7'; } /* '' */
.rpg-unliving4:before { content: '\e8d8'; } /* '' */
.rpg-unliving5:before { content: '\e8d9'; } /* '' */
.rpg-unliving6:before { content: '\e8da'; } /* '' */
.rpg-unliving7:before { content: '\e8db'; } /* '' */
.rpg-unliving8:before { content: '\e8dc'; } /* '' */
.rpg-wall1:before { content: '\e8dd'; } /* '' */
.rpg-wall2:before { content: '\e8de'; } /* '' */
.rpg-wall3:before { content: '\e8df'; } /* '' */
.rpg-wall4:before { content: '\e8e0'; } /* '' */
.rpg-wall5:before { content: '\e8e1'; } /* '' */
.rpg-wall6:before { content: '\e8e2'; } /* '' */
.rpg-wall7:before { content: '\e8e3'; } /* '' */
.rpg-wall8:before { content: '\e8e4'; } /* '' */
.rpg-wall9:before { content: '\e8e5'; } /* '' */
.rpg-wall10:before { content: '\e8e6'; } /* '' */
.rpg-wall11:before { content: '\e8e7'; } /* '' */
.rpg-wall12:before { content: '\e8e8'; } /* '' */